@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root {
    --background: #161F30;
    --element: #217373;
    --font: 'Comic Sans MS';
    --radius: 10px;
    --border: 2px solid var(--element);
}


body, button, input, textarea, select {
    font-family: var(--font)

}


button {
    background-color: var(--background);
    color: var(--element);
    border-radius: var(--radius);
    border: var(--border);

    height: 35px;
    
}










body {
    background-color: var(--background);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 100vh;
    overflow-y: hidden;

}


main {
    color: var(--element);

    border-radius: var(--radius);

    border: var(--border);

    padding: 10%;

}


.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input_and_btn {
    display: flex;
    gap: 2px;

}


input {
    border: var(--border);
    background-color: var(--background);
    border-radius: var(--radius);
    height: 25px;
    color: var(--element);
    text-align: center;
}


input:focus {
    outline: none;
    box-shadow: none;
}


#clean {
    width: 31px;
    height: 31px;
}









dialog {
    padding: 10%;
    border: none;
    border-radius: 12px;
    border: var(--border);
    background-color: var(--background);

}


#codeqr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 20px;

}




.btn_and_btn {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 8px;
}


img {
    border-radius: var(--radius);
    margin: 5%;
}









p, a {
    color: var(--element)
}

p {
    font-size: 77%;
}